.portfolio {
	//margin-bottom: -4rem;
}

.portfolio-wrapper {
	//background: url('../imgs/magma-texture.jpg');
	//background-color: $brand-blue-black;
	@include blue-diag-gradient;
	padding: 3rem 0 4rem;

	.portfolio, .team-grid {
		max-width: 1300px;

		@include media-breakpoint-up(xl) {
			min-height: 56vh;
		}

		@include media-breakpoint-up(lg) {
			min-height: 41vh;
		}

		@include media-breakpoint-up(md) {
			min-height: 43vh;
		}

		@include media-breakpoint-up(sm) {
			min-height: 43vh;
		}
	}
}

.grid-wrap {
	opacity:0;
	transition: opacity 1s;
}
.portfolio-item {

	padding:5rem 0;

	header {
		margin-bottom: 4rem;
	}
	.entry-title {
		//margin-bottom: 1rem;
		font-weight: 300;
		border-bottom: 1px solid #ddd;
		padding-bottom: .5rem;
	}

	.subhead {
		font-family: $font-family-sans-serif;
		color: darken($primary03, 25%);
		font-weight: 300;
		font-size: 1.5rem;
	}



}


.cat-menu {
	background-color: $lt-sky-blue;
	padding-top: 3rem;
	padding: 1rem 0;
	margin: 4rem auto 0;
	top: 439px;

	&.fixed-top {
		top:0;
		margin-top: 3.825rem;
		width: 100%;
		transition: all 5ms ease-in;

	}
	.portfolio-filter-tabs {
		line-height: 1;
		margin: 0 auto;
		li a {
			color: white;
			font-size: .975rem;
			text-transform: uppercase;
		}
	}
}

.portfolio-item, .team-item {
	.entry-content, .entry-header {
		margin-left:0;
	}
	.card {
		margin: 1rem auto;
		//padding-bottom: .5rem;
		padding: .5rem;
		background-color: #f9f9f9;

		a {
			//font-size: .875rem;
			text-align: center;
			color: darken($brand-blue, 5%);
		}

		&.portrait .post-thumbnail {

			min-height: 285px;
		}

		&.landscape .post-thumbnail {

			min-height: 150px;
		}
		.card-text {
			padding: 0 .8rem;
			text-align: center;
			line-height: 1.35;
		}
	}

}

.portrait .post-thumbnail img {

	//min-height: 285px;
	padding-bottom: 23px;
}

.landscape .post-thumbnail {

// 	min-height: 150px;
}

.portfolio-filter-tabs {

	list-style-type: none;
	text-align: center;

	@include media-breakpoint-up(md){
		display: flex;
		justify-content: space-between;
	}



	li {
		display: inline-block;
		text-align: center;
		flex-direction: column;
		align-self: center;

		@include media-breakpoint-down(sm){
			width: 100%;
			display: block;
		}
	}
}

.order-2  {
	text-align: right;
}

.embed-caption {
	display: inline-block;
	margin-top: .5em;
	font-size: .925rem;
	font-style: italic;
}

.img-wrap {
	padding: .5rem;
}

.description {
	padding: 1rem 0;
}