@font-face {
    font-family: 'gnuolane';
    src: url('../fonts/gnuolane_rg-webfont.woff2') format('woff2'),
         url('../fonts/gnuolane_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}