//== Primary Colors
.primary01{background-color:$primary01;}
.primary02{background-color:$primary02;}
.primary03{background-color:$primary03;}
.primary04{background-color:$primary04;}
.primary05{background-color:$primary05;}

//== Secondary Colors
.secondary01{background-color:$secondary01;}
.secondary02{background-color:$secondary02;}
.secondary03{background-color:$secondary03;}
.secondary04{background-color:$secondary04;}
.secondary05{background-color:$secondary05;}
.secondary06{background-color:$secondary06;}
.secondary07{background-color:$secondary07;}
.secondary08{background-color:$secondary08;}
.secondary09{background-color:$secondary09;}
.secondary10{background-color:$secondary10;}

//== Accent Colors
.accent01{background-color:$accent01;}
.accent02{background-color:$accent02;}
.accent03{background-color:$accent03;}
.accent04{background-color:$accent04;}
.accent05{background-color:$accent05;}
.accent06{background-color:$accent06;}

//== Limited Colors
.limited01{background-color:$limited01;}
.limited02{background-color:$limited02;}
.limited03{background-color:$limited03;}
.limited04{background-color:$limited04;}
.limited05{background-color:$limited05;}
