html {
  position: relative;
  min-height: 100%;
}
body {
  padding-bottom: 5rem; /* Margin bottom by footer height */

  @include media-breakpoint-down(xs) {

	  padding-bottom: 10rem;
	}
}
.site-footer {
  position: absolute;
  z-index: 1600;
  bottom: 0;
  width: 100%;
  height: auto; /* Set the fixed height of the footer here */
  /* line-height: 60px; */ /* Vertically center the text there */
  //min-height: 3.75rem;
  min-height: 5vh;
  height: auto;
  background-color: #f5f5f5;
  padding: 1rem 0;

}

.footer-logo {
	@include media-breakpoint-down(xs) {
		width: 50%;
	}
}

.site-info {
	@include media-breakpoint-down(xs) {
		text-align: center !important;
		margin-top: 1.5rem;
	}
}
